body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 200px;
    background-color:blanchedalmond;
}

.container {
    display: flex;
    gap: 0.6vw;
    margin: auto;
}
.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:large;
    margin: auto;
    text-align: center;

}


img {
    width: 7vw;
    height: 7vw;
    border: 5px solid black;
}

#imagenGrande {
    width: 16vw;
    height: 16vw;
}


@media (max-width: 900px) {
    body {
        width: fit-content;
        height: fit-content;
    }
}